[core]
	excludesfile = ~/.gitignore_global
	editor = vim
[color]
	ui = auto
[alias]
	st = status
	co = checkout
	ci = commit
	br = branch
	gr = log --graph --oneline --decorate --branches
	grr = log --graph --oneline --decorate --branches --remotes
  gra = log --graph --date-order -C -M --pretty=format:\"<%h> %ad [%an] %Cgreen%d%Creset %s\" --all --date=short
	di = diff
	df = diff
	a = add
[include]
    path = ~/.gitconfig.local
[ghq]
  root = ~/.ghq
  root = ~/go/src
