[core]
	excludesfile = ~/.gitignore_global
[color]
	ui = auto
[alias]
	st = status
	co = checkout
	ci = commit
	br = branch
	gr = log --graph --oneline --decorate --branches
	di = diff
	df = diff
	a = add
[include]
    path = ~/.gitconfig.local
